<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataLayer.Properties.Settings.UmitEticaretConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=UmitEticaret;Persist Security Info=True;User ID=umit;Password=123;MultipleActiveResultSets=True;Application Name=EntityFramework"
            providerName="System.Data.SqlClient" />
        <add name="DataLayer.Properties.Settings.UmitEticaretConnectionString1"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=UmitEticaret;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>